export("%.%")
export("%<a-%")
export("%<c-%")
export("%<d-%")
export(address)
export(call_tree)
export(compose)
export(dots)
export(f)
export(find_funs)
export(fun_args)
export(fun_body)
export(fun_calls)
export(is_promise)
export(make_function)
export(modify_lang)
export(named_dots)
export(parenv)
export(partial)
export(promise_info)
export(rebind)
export(rls)
export(subs)
export(substitute2)
export(track_copy)
export(typename)
export(unenclose)
export(uneval)
export(where)
importFrom(stringr,str_c)
importFrom(stringr,str_dup)
importFrom(stringr,str_length)
importFrom(stringr,str_sub)
importFrom(testthat,colourise)
useDynLib(pryr)
