export("%<a-%")
export("%<c-%")
export("%<d-%")
export(call_tree)
export(curry)
export(make_function)
export(modify_lang)
export(rebind)
export(subs)
export(substitute2)
export(unenclose)
export(uneval)
export(where)
importFrom(stringr,str_c)
importFrom(stringr,str_dup)
importFrom(stringr,str_length)
importFrom(stringr,str_sub)
importFrom(testthat,colourise)
useDynLib(pryr)
